# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data folders to exclude
data/raw_prices/
data/processed/
data/metadata/

# Allow S&P500 ticker universe file
!data/sp500.csv

# Output
*.log
*.aux
*.out
*.toc

# System
.DS_Store